@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Light-gray);
}

.qr {
  background-color: var(--White);
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 6px 20px rgb(51 51 51 / 50%);
}

.qr .image {
  display: flex;
  justify-content: center;
}
.qr img {
  width: 250px;
  max-width: 100%;
  border-radius: 10px;
}

.qr .info {
  text-align: center;
}

.qr .info h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0;
}

.qr .info p {
  font-size: 15px;
  color: var(--Grayish-blue);
  margin-bottom: 20px;
}

@media (max-width: 375px) {
  .qr {
    width: 350px;
  }
  .qr img {
    width: 300px;
  }
  .qr .info h3 {
    font-size: 25px;
  }
  .qr .info p {
    width: 265px;
    margin: 20px auto;
  }
}
